<mat-card>
  <div id="number_field">
<mat-form-field>
  <input matInput type="text" placeholder="Name"  />
</mat-form-field>
</div>
<div id="number_field1">
<mat-form-field>
  <input matInput type="text" placeholder="Surname" />
</mat-form-field>
</div>
<div id="number_field2">
<mat-form-field>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Birthday" formControlName="birdhday"  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>
<div id="number_field3">
<mat-form-field>
  <input matInput type="text" placeholder="Address" />
</mat-form-field>
</div>
<div id="number_field4">
<mat-form-field>
  <input matInput type="number" placeholder="Phone" />
</mat-form-field>
</div>
<div id="number_field5">
<mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email" />
  </mat-form-field>
</div>

<br />
<div id="button_align1">
</div>
<div id="button_align2">
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button color="primary">Cancel</button>
  </div>

</mat-card>
