.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .Toolbar
  {
    background:brown;
  }
.example-button-row button,
.example-button-row mat-mini-fab
{
  color:warn;
}
.hometitle a
{
  color: #fd0404;
  font-size:220%;
  font-family: cursive;
}
#button-operations a
{
  color: #f70606;
  font-style: italic;
  
}
#button-operationshistory a
{
  color: #f70606;
  font-style: italic;
}