.mat-elevation-z8
{
  margin:50px;
}
th a 
{
  color: rgb(226, 43, 43);
  text-align: center;
  
}
td, th
{
  border: thin  rgb(118, 143, 173);
  font-size: 12;
  text-align: center;
  background-color: rgb(222, 233, 247)
}
.mat-header-cell
{
  font-size: 18;
  background-color: rgb(222, 233, 247)
}
td a
{
  text-align: center;
}
#paginator
{
  position:absolute;
  top :400px;
  right:50px;
}
.cdk-overlay-container {
  color:rgb(118, 143, 173);
}
  